.wordle {
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 0px 10px 10px 0px;
  width: 600px;
  height: 808px;
  position: relative;
  padding-top: 60px;
}

@media only screen and(max-width: 1023px) {
  .wordle {
    height: 688px;
    border-radius: 0px 0px 10px 10px;
  }
}

.conversation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nameplate {
  width: 188px;
  height: 37px;
  margin-left: 35px;
  margin-bottom: -15px;
  background-color: black;
  color: white;
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}
.chatbox {
  width: 364px;
  height: 109px;
  border: 1px solid #efefef;
  filter: drop-shadow(0px 4px 4px #00000040);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 26px;
  z-index: -1;
  background-color: white;
}
@media only screen and (max-width: 420px) {
  .wordle {
    width: 400px;
    left: -15px;
  }
  .conversation {
    width: 400px;
  }
}
