.navcontainer{
    display: flex;
    justify-content: space-between;
}

.navredbar{
    background-color: red;
    border-bottom-left-radius: 15px;
}

.navbar{
    display: flex;
    gap: 15px;
}

.navitems:hover{
    color: red;
}

.trainerbutton{
    color: white;
    background-color: red;
    border: 0px;
    border-radius: 15px;
    padding: 10px 15px;
}