@media (max-width: 768px) {
  .navRedBar {
    display: none;
  }

  .navBar {
    display: none;
  }

  .closeIconContainer {
    position: absolute;
  }

  .navMobileBar {
    width: 500px;
    min-height: 550px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    background-color: #ffffff;
  }

  .arrow {
    height: 15px;
  }

  .trainerButton {
    width: 100%;
    padding: 10px 0px;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }

  .hamburgerIcon {
    height: 40px;
  }
}

@media (min-width: 769px) {
  .navContainer {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    min-width: 810px;
  }

  .navRedBar {
    display: flex;
    justify-content: flex-end;
  }

  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-right: 50px;
    gap: 20px;
  }

  .navMobileBar {
    display: none;
  }

  .navMobileContainer {
    display: none;
  }

  .navItems {
    display: flex;
    gap: 20px;
  }

  .trainerButton {
    padding: 10px 15px;
  }

  .logoIcon {
    padding-left: 15px;
  }

  .closeIcon {
    display: none;
  }

  .closeIconContainer {
    display: none;
  }

  .hamburgerIcon {
    visibility: hidden;
    position: absolute;
  }

  .accountIcon {
    display: none;
  }

  .header {
    background-color: #ff2f42;
    color: #ffffff;
    border-radius: 10px;
    margin: 5px;
    padding: 0px 15px;
    font-size: 15px;
  }

  .stats {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 3px;
  }

  .pokecoin {
    height: 12px;
    width: 12px;
  }

  .pokeball {
    height: 12px;
    width: 12px;
  }

  .weather {
    background-color: #ff2f42;
    border-radius: 50%;
    margin: 5px;
    margin-right: 50px;
  }

  .umbrellaIcon {
    height: 20px;
    width: 20px;
  }
}

.navRedBar {
  background-color: #e9363c;
  border-bottom-left-radius: 15px;
}

.navItem {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.navItem:hover {
  color: #e9363c;
  cursor: pointer;
}

.trainerButton {
  color: white;
  background-color: #e9363c;
  border: 0px;
  border-radius: 64px;
  font-size: 16px;
}

.logoIcon {
  height: 70px;
}

.closeIcon {
  width: 40px;
  height: 40px;
}

.closeIcon:hover {
  cursor: pointer;
}

.hamburgerIcon {
  width: 40px;
  height: 40px;
}

.hamburgerIcon:hover {
  cursor: pointer;
}

.accountIcon {
  height: 40px;
}

.accountIcon:hover {
  cursor: pointer;
}
