@media (max-width: 768px) {
  .navRedBar {
    display: none;
  }

  .navBar {
    display: none;
  }

  .navMobileBar {
    max-width: 500px;
    min-height: 550px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navItem {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  }

  .trainerButton {
    width: 100%;
    padding: 10px 0px;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 769px) {
  .navContainer {
    display: flex;
    justify-content: space-between;
  }

  .navRedBar {
    display: flex;
    justify-content: flex-end;
  }

  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 20px;
  }

  .navMobileBar {
    display: none;
  }

  .navItems {
    display: flex;
    gap: 20px;
  }

  .trainerButton {
    padding: 10px 15px;
  }

  .logoIcon {
    padding-left: 15px;
  }

  .closeIcon {
    display: none;
  }

  .hamburgerIcon {
    display: none;
  }

  .accountIcon {
    display: none;
  }
}

.navContainer {
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.navRedBar {
  background-color: #e9363c;
  border-bottom-left-radius: 15px;
}

.navItem:hover {
  color: #e9363c;
  cursor: pointer;
}

.trainerButton {
  color: white;
  background-color: #e9363c;
  border: 0px;
  border-radius: 64px;
}

.logoIcon {
  height: 70px;
}

.closeIcon:hover {
  cursor: pointer;
}

.hamburgerIcon {
  height: 40px;
}

.hamburgerIcon:hover {
  cursor: pointer;
}

.accountIcon {
  height: 40px;
}

.accountIcon:hover {
  cursor: pointer;
}
